# https://help.github.com/ja/actions/reference/workflow-syntax-for-github-actions
name: Check Cloud-Commands
on:
  pull_request:
    paths:
      - "cmd/**"
      - "golang/**"
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: "code: check out code"
        uses: actions/checkout@v2
      - name: "parameters: set parameters"
        id: parameters
        run: |
          PR_NUMBER=$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }')
          echo "::set-output name=pr_number::${PR_NUMBER}"
      - name: "go: test"
        run: |
          echo $SSH_PRIVATE_KEY >> ./id_rsa
          DOCKER_BUILDKIT=1 docker build -f docker/test/Dockerfile --secret id=ssh,src=./id_rsa --build-arg WORKDIR=/go/src/github.com/y-miyazaki/cloud-commands -t golang-test:latest .
          docker run --rm -v $PWD/coverage:/go/src/github.com/y-miyazaki/cloud-commands/coverage --name golang-test golang-test:latest -t
          rm ./id_rsa
      - name: "go: check out code into the Go module directory"
        uses: actions/upload-artifact@master
        with:
          name: coverage
          path: coverage
      - name: "go: golangci-lint for lint"
        uses: reviewdog/action-golangci-lint@v1
        with:
          golangci_lint_flags: "--config golangci.yaml"
          level: error
          fail_on_error: true
      - name: "shell: shellcheck for lint"
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review # Change reporter.
          path: "./cmd" # Optional.
          pattern: "*" # Optional.
          exclude: "./files" # Optional.
          fail_on_error: true
          shellcheck_flags: "-e SC2002,SC2126,SC2140"
      - name: "slack: notification for failed build."
        if: failure()
        uses: rtCamp/action-slack-notify@v2.0.2
        env:
          SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL_ID }}
          SLACK_COLOR: "danger"
          SLACK_ICON: ""
          SLACK_TITLE: Failed check
          SLACK_MESSAGE: |
            This Github Actions workflow failed check.

            Pull Request
            https://github.com/${{github.repository}}/pull/${{ steps.parameters.outputs.pr_number }}
          SLACK_USERNAME: y-miyazaki
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
